<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle NTF indie</title>
</head>
<body>
    <section>
        <img src="../img/nft/monkey_1.png" width="400px" height="380px"> 
        <h3>Monkey Duh</h3>
        <b>3 ether</b>
        <p>
          <b>date: 22/10/2021</b>  
        </p>
        <b>ded</b>
         <div>
            <span>user:</span> <i>thonkit</i>
            <p><a href="./detail_monkey.html"></a></p>
         </div>
         <span>======================</span>                   
         <br>  
         <a href="../index.html">return</a>
        </section>
</body>
</html>