<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle NTF Rap</title>
</head>
<body>
    <section>
        <img src="../img/nft/robot_mishi.jpg" width="400px" height="380px"> 
        <h3>Robot Mishi</h3>
        <b>2 ethers</b>
        <p>
          <b>date: 24/10/2019</b>  
        </p>
        <b>ded</b>
         <div>
            <span>user:</span> <i>Commando</i>
        
         </div>
         <span>======================</span>                   
         <br>  
         <a href="../index.html">Return</a>
        </section>
</body>
</html>